@page
@model EnrollmentApplication.Pages.My_TermModel
@inject DataAccess DataAccessService
@{
    ViewData["Title"] = "My Term";
}

<header>
    <h1>@Model._myTermStudent.FirstName, @Model._myTermStudent.Grade</h1>
</header>
<body>
    <div id="container">
        <div class="card">
            <form method="post">
                <h2>Fall 20</h2>
                <ul class="list-unstyled">
                    @foreach (var course in Model.StudentCourses)
                    {
                        <li>
                            <button type="submit" name="removeCourse" value="@course.CourseId" class="btn btn-primary btn-block">@course.Name</button>
                        </li>
                    }
                    <li><a class="btn btn-secondary btn-block" href="/AddCourse">Add Course...</a></li>
                </ul>
            </form>
        </div>

        <div class="card">
            <form>
                <h2>Recommendations</h2>
                <ul class="list-unstyled">
                    @foreach (var course in Model.RecommendedCourses)
                    {
                        <li>@course.Name</li>
                    }
                </ul>
            </form>
        </div>
    </div>
</body>
